@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  width: 1420px;
  margin: 0 auto;
}

/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif; */
.header_ex {
  width: 100%;
}
.header_ex .header {
  width: 1420px;
  margin: 0 auto;
  overflow: hidden;
  justify-content: space-around;
  display: flex;
  height: 130px;
  line-height: 130px;
}
.header_ex .header .logo {
  width: 220px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}
.header_ex .header .logo img {
  width: 80px;
  height: 80px;
}
.header_ex .header .gnb {
  width: 740px;
  position: relative;
}
.header_ex .header .gnb ul li {
  padding: 0 30px;
  box-sizing: border-box;
}
.header_ex .header .gnb ul li:hover {
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
}
.header_ex .header .gnb ul li a {
  display: block;
}
.header_ex .header .gnb .shop {
  display: flex;
  justify-content: space-around;
}
.header_ex .header .hidden {
  display: none;
}
.header_ex .header .shop_lnb {
  z-index: 100;
  width: 435px;
  height: 820px;
  background-color: rgb(233, 174, 174);
  position: absolute;
  top: 130px;
  left: 0;
}
.header_ex .header .shop_lnb ul li {
  height: 68px;
  line-height: 68px;
  box-sizing: border-box;
}
.header_ex .header .shop_lnb ul li a {
  padding-left: 60px;
  display: block;
}
.header_ex .header .shop_lnb ul li a:hover {
  font-weight: bold;
  background-color: #efe8da;
}
.header_ex .header .shop_lnb ul li:first-child {
  display: flex;
  padding-left: 0;
  height: 72px;
  line-height: 72px;
  text-align: center;
  box-sizing: border-box;
}
.header_ex .header .shop_lnb ul li:first-child a {
  padding: 0;
  display: block;
  width: 217.5px;
}
.header_ex .header .shop_lnb ul li:first-child a:hover {
  font-weight: bold;
  background-color: #efe8da;
}
.header_ex .header_right {
  display: flex;
  justify-content: space-around;
  width: 430px;
}
.header_ex .header_right .search {
  position: relative;
}
.header_ex .header_right .search input {
  height: 25px;
  border: none;
  border-radius: 12px;
  background-color: #fd8234;
}
.header_ex .header_right .search a {
  position: absolute;
  right: 7px;
  top: 3px;
}

.hidden {
  display: none;
}

.benefit_text_ex {
  z-index: 500;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
.benefit_text_ex .benefit_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 340px;
  height: 510px;
  background-color: #fff;
  padding: 30px 25px 25px 30px;
  box-sizing: border-box;
  background-color: #fff;
  font-weight: bold;
}
.benefit_text_ex .benefit_text h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
.benefit_text_ex .benefit_text h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
.benefit_text_ex .benefit_text div {
  margin-bottom: 30px;
  line-height: 50px;
}
.benefit_text_ex .benefit_text div b {
  font-size: 18px;
  float: left;
  width: 94px;
  margin-right: 55px;
}
.benefit_text_ex .benefit_text div p {
  font-size: 16px;
  width: 103px;
  float: left;
}
.benefit_text_ex .benefit_close_btn {
  position: absolute;
  width: 260px;
  height: 40px;
  bottom: 0;
  left: 40px;
  background-color: #261c13;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 25px;
}
.benefit_text_ex .benefit_close_btn a {
  display: block;
  line-height: 40px;
  color: #fffefe;
  font-weight: normal;
}

.detail_full {
  position: relative;
  width: 1420px;
  height: calc(100vh - 80px);
  margin: 0 auto;
  display: flex;
}
.detail_full .left_area {
  width: 820px;
  overflow-y: auto;
}
.detail_full .left_area .left_top {
  width: 100%;
}
.detail_full .left_area .left_top .cont {
  display: none;
}
.detail_full .left_area .left_top .cont img {
  width: 100%;
}
.detail_full .left_area .left_bottom {
  width: 820px;
  height: auto;
  margin-bottom: 100px;
}
.detail_full .left_area .left_bottom .tab_menu {
  position: relative;
}
.detail_full .left_area .left_bottom .tab_menu .list {
  overflow: hidden;
}
.detail_full .left_area .left_bottom .tab_menu .list li {
  width: 25%;
  height: 85px;
  text-align: center;
  line-height: 85px;
  float: left;
}
.detail_full .left_area .left_bottom .tab_menu .list li:hover {
  font-weight: bold;
}
.detail_full .left_area .left_bottom .tab_menu .list li .btn {
  font-size: 13px;
  display: block;
}
.detail_full .left_area .left_bottom .tab_menu .list li.description_tab .cont {
  overflow: hidden;
  display: none;
  position: absolute;
  left: 0;
  background-color: #f7f7f7;
  width: 820px;
  padding: 75px 45px;
  box-sizing: border-box;
}
.detail_full .left_area .left_bottom .tab_menu .list li.description_tab .cont h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.description_tab .cont p {
  font-size: 14px;
  line-height: normal;
  line-height: 24px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.notice_tab .cont {
  overflow: hidden;
  display: none;
  position: absolute;
  left: 0;
  background-color: #f7f7f7;
  width: 820px;
  padding: 75px 45px;
  box-sizing: border-box;
}
.detail_full .left_area .left_bottom .tab_menu .list li.notice_tab .cont h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.notice_tab .cont p {
  font-size: 14px;
  line-height: normal;
  line-height: 24px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.notice_tab .cont {
  -moz-text-align-last: left;
       text-align-last: left;
}
.detail_full .left_area .left_bottom .tab_menu .list li.notice_tab .cont h1 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid #000;
}
.detail_full .left_area .left_bottom .tab_menu .list li.notice_tab .cont p {
  text-align: left;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont {
  overflow: hidden;
  display: none;
  position: absolute;
  left: 0;
  background-color: #f7f7f7;
  width: 820px;
  padding: 45px 35px;
  box-sizing: border-box;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont h1 {
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 3px solid #000;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont p {
  font-size: 14px;
  line-height: normal;
  line-height: 24px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_image.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_image.swiper .swiper-wrapper {
  margin: 0 auto;
  width: 710px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_image.swiper .swiper-wrapper .swiper-slide {
  width: 120px !important;
  height: 120px;
  margin-right: 10px;
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_image.swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_input {
  display: none;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_input form div {
  width: 50%;
  float: left;
  overflow: hidden;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_input form div label,
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_input form div input {
  width: 50%;
  height: 20px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_input form select {
  float: left;
  height: 20px;
  margin-right: 0 20px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_input form .select_text {
  float: left;
  line-height: 20px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_input form .review_box {
  width: 710px;
  height: 200px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_input form .review_btn {
  width: 80px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_input form .upload_image {
  width: 200px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_output_box {
  width: 770px;
  height: auto;
  overflow: hidden;
  background-color: #efe8da;
  margin-bottom: 15px;
  padding: 15px 10px;
  box-sizing: border-box;
  color: #777;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_output_box .review_output_left {
  width: 670px;
  height: 120px;
  float: left;
  -moz-text-align-last: left;
       text-align-last: left;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_output_box .review_output_left div {
  width: 100%;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_output_box .review_output_left div:nth-child(1) {
  width: 100%;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_output_box .review_output_left div:nth-child(1) .star_rate {
  float: left;
  margin-right: 10px;
  color: #222;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_output_box .review_output_left div:nth-child(2) {
  width: 100%;
  margin-bottom: 25px;
  overflow: hidden;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_output_box .review_output_left div:nth-child(2) p {
  float: left;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_output_box .review_output_right {
  width: 80px;
  height: 120px;
  float: left;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_output_box .review_output_right .date {
  margin-bottom: 15px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.review_tab .cont .review .review_output_box .review_output_right .user_image {
  width: 80px;
  height: 80px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.inquiry_tab .cont {
  overflow: hidden;
  display: none;
  position: absolute;
  left: 0;
  background-color: #f7f7f7;
  width: 820px;
  padding: 75px 45px;
  box-sizing: border-box;
}
.detail_full .left_area .left_bottom .tab_menu .list li.inquiry_tab .cont h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.inquiry_tab .cont p {
  font-size: 14px;
  line-height: normal;
  line-height: 24px;
}
.detail_full .left_area .left_bottom .tab_menu .list li.is_on {
  border-bottom: 5px solid #261c13;
  box-sizing: border-box;
}
.detail_full .left_area .left_bottom .tab_menu .list li.is_on .cont {
  display: block;
}
.detail_full .left_area .left_bottom .tab_menu .list li.is_on .cont img {
  width: 100%;
}
.detail_full .left_area::-webkit-scrollbar {
  display: none;
}
.detail_full .right_area {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  overflow-y: scroll;
}
.detail_full .right_area .right_top .product_info {
  height: 210px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 35px 65px;
}
.detail_full .right_area .right_top .product_info .text {
  float: left;
  width: 440px;
}
.detail_full .right_area .right_top .product_info .text h2 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.detail_full .right_area .right_top .product_info .text h1 {
  font-size: 24px;
  margin-bottom: 32px;
  box-sizing: border-box;
}
.detail_full .right_area .right_top .product_info .text b {
  font-size: 20px;
  font-weight: bold;
}
.detail_full .right_area .right_top .product_info .share {
  float: left;
  width: 27px;
  height: 27px;
}
.detail_full .right_area .right_top .product_info .share a img {
  width: 100%;
}
.detail_full .right_area .right_top .product_info .share a img:hover {
  scale: 1.1;
}
.detail_full .right_area .right_top .product_color {
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 13px 65px;
  box-sizing: border-box;
}
.detail_full .right_area .right_top .product_color .tab_menu ul.list {
  overflow: hidden;
  padding: 2px;
  box-sizing: border-box;
}
.detail_full .right_area .right_top .product_color .tab_menu ul.list li {
  float: left;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-color: red;
  text-align: center;
  line-height: 25px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
}
.detail_full .right_area .right_top .product_color .tab_menu ul.list li:hover {
  scale: 1.1;
}
.detail_full .right_area .right_top .product_color .tab_menu ul.list li:nth-child(1) {
  background-color: rgb(231, 205, 157);
}
.detail_full .right_area .right_top .product_color .tab_menu ul.list li:nth-child(1) a.btn {
  display: block;
  color: rgb(231, 205, 157);
  font-size: 13px;
}
.detail_full .right_area .right_top .product_color .tab_menu ul.list li:nth-child(2) {
  background-color: rgb(235, 198, 213);
}
.detail_full .right_area .right_top .product_color .tab_menu ul.list li:nth-child(2) a.btn {
  display: block;
  color: rgb(235, 198, 213);
  font-size: 13px;
}
.detail_full .right_area .right_top .product_color .tab_menu ul.list li:nth-child(3) {
  background-color: white;
  margin-right: 20px;
}
.detail_full .right_area .right_top .product_color .tab_menu ul.list li:nth-child(3) a.btn {
  display: block;
  color: white;
  font-size: 13px;
}
.detail_full .right_area .right_top .product_color .tab_menu ul.list p {
  font-size: 13px;
  font-weight: bold;
  line-height: 25px;
}
.detail_full .right_area .right_top .additional_product {
  height: 285px;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 30px 65px;
}
.detail_full .right_area .right_top .additional_product p {
  font-size: 18px;
  width: 100%;
  margin-bottom: 13px;
}
.detail_full .right_area .right_top .additional_product .additional_wrap {
  width: 470px;
  height: 190px;
}
.detail_full .right_area .right_top .additional_product .additional_wrap:hover img {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.detail_full .right_area .right_top .additional_product .additional_wrap:hover a {
  text-decoration: underline;
}
.detail_full .right_area .right_top .additional_product .additional_wrap .additional_image {
  float: left;
  width: 190px;
  height: 190px;
  margin-right: 20px;
}
.detail_full .right_area .right_top .additional_product .additional_wrap .additional_image a img {
  width: 100%;
}
.detail_full .right_area .right_top .additional_product .additional_wrap .additional_text {
  float: left;
  width: calc(100% - 190px - 20px);
  height: 190px;
  padding-top: 130px;
  box-sizing: border-box;
}
.detail_full .right_area .right_top .additional_product .additional_wrap .additional_text a h1 {
  font-size: 18px;
  margin-bottom: 20px;
}
.detail_full .right_area .right_top .additional_product .additional_wrap .additional_text a b {
  font-size: 18px;
  font-weight: bold;
}
.detail_full .right_area .right_top .delivery_benefit {
  width: 600px;
  height: 95px;
  padding: 20px 65px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
  font-size: 13px;
  /*       .benefit {
    #benefit_btn {
      display: none;
    }

    #benefit_btn:checked ~ .benefit_text {
      display: none;
    }

    #benefit_btn ~ .benefit_text {
      display: block;
    }

    .benefit_text {
      position: relative;
      top: -100px;
      left: 0;
      width: 340px;
      height: 510px;
      padding: 30px 25px 25px 30px;
      box-sizing: border-box;
      background-color: #fff;
      font-weight: bold;

      h1 {
        font-size: 25px;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 18px;
        margin-bottom: 20px;
      }

      div {
        margin-bottom: 30px;
        line-height: 50px;

        b {
          font-size: 18px;
          float: left;
          width: 94px;
          margin-right: 55px;
        }

        p {
          font-size: 16px;
          width: 103px;
          float: left;
        }

        &:last-child {
          margin-bottom: 45px;
        }
      }

      .benefit_close_btn {
        position: absolute;
        width: 260px;
        height: 40px;
        bottom: 0;
        left: 40px;
        background-color: #261c13;
        border-radius: 30px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 25px;
        color: #fffefe;
        font-weight: normal;
      }

      .benefit_open_btn {
        // 왜 라벨 안 꾸며지지? 얘는 디스플레이 논도 안 됨. 이걸 언체크트때 디스플레이 논을 하면 아예 체크트때도 안 보여.
        border: 1px solid #000;
        width: 15px;
        height: 15px;
      }
    }

    b {
      // display: block;
      // margin-right: 20px;
      // width: 53px;
      // margin-right: 10px;
      // float: left;
    }

    p {
      // display: block;
      // float: left;
      // width: 330px;
      // line-height: 20px;
    }
  } */
}
.detail_full .right_area .right_top .delivery_benefit .benefit a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
}
.detail_full .right_area .right_top .count {
  height: 85px;
  padding: 33px 65px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
  display: flex;
}
.detail_full .right_area .right_top .count form {
  width: 470px;
}
.detail_full .right_area .right_top .count form .basketdiv {
  float: left;
  font-size: 18px;
  font-weight: bold;
}
.detail_full .right_area .right_top .count form .basketdiv .row {
  position: relative;
  width: 340px;
  margin-right: 15px;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv {
  float: left;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv:nth-child(1) {
  margin-right: 78px;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv:nth-child(2) {
  position: absolute;
  top: -12px;
  right: 0;
  width: 114px;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv:nth-child(2) .updown {
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  height: 39px;
  box-sizing: border-box;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv:nth-child(2) .updown input {
  position: absolute;
  left: 35px;
  width: 35px;
  height: 35px;
  top: -1px;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv:nth-child(2) .updown .minus {
  position: relative;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv:nth-child(2) .updown .minus i {
  position: absolute;
  top: 11px;
  right: -25px;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv:nth-child(2) .updown .plus {
  position: relative;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv:nth-child(2) .updown .plus i {
  position: absolute;
  top: 11px;
  right: -99px;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv .check {
  display: none;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv .basketprice {
  display: none;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv .sum {
  display: none;
}
.detail_full .right_area .right_top .count form .basketdiv .row .subdiv .basketcmd {
  display: none;
}
.detail_full .right_area .right_top .buy_cart {
  height: 85px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.detail_full .right_area .right_top .buy_cart .buy,
.detail_full .right_area .right_top .buy_cart .cart {
  width: 50%;
  float: left;
  text-align: center;
  line-height: 85px;
}
.detail_full .right_area .right_top .buy_cart .buy a,
.detail_full .right_area .right_top .buy_cart .cart a {
  display: block;
}
.detail_full .right_area .right_top .buy_cart .buy {
  background-color: #efe8da;
}
.detail_full .right_area .right_top .buy_cart .cart {
  background-color: #fff;
}
.detail_full .right_area .right_top .buy_cart .buy:hover,
.detail_full .right_area .right_top .buy_cart .cart:hover {
  font-weight: bold;
}
.detail_full .right_area .right_bottom .accordion {
  background-color: #ffffff;
  cursor: pointer;
  padding: 35px;
  box-sizing: border-box;
  width: 600px;
  height: 85px;
  outline: none;
  border: none;
  text-align: left;
  font-size: 18px;
  transition: 0.4s;
  border-right: 1px solid #e6e6e6;
}
.detail_full .right_area .right_bottom .accordion:after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 5px;
  float: right;
}
.detail_full .right_area .right_bottom .accordion:hover {
  background-color: #f5f5f5;
  font-weight: bold;
}
.detail_full .right_area .right_bottom .active {
  background-color: #f5f5f5;
  font-weight: bold;
}
.detail_full .right_area .right_bottom .active:after {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.detail_full .right_area .right_bottom .panel {
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.detail_full .right_area .right_bottom .panel p {
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  margin: 27px;
  box-sizing: border-box;
}
.detail_full .right_area::-webkit-scrollbar {
  display: none;
}

.quick {
  width: 50px;
  height: 100px;
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 100;
}
.quick .shopping_history #history_btn {
  display: none;
}
.quick .shopping_history #history_btn:checked ~ .history_list {
  display: none;
}
.quick .shopping_history #history_btn ~ .history_list {
  display: block;
}
.quick .top_btn {
  display: none;
}
.quick .history_list {
  background-color: red;
  position: fixed;
  top: 80px;
  right: 0;
  width: 150px;
  height: 300px;
}

.footer {
  width: 1420px;
  margin: 0 auto;
  height: 550px;
  background-color: #261c13;
  color: white;
  padding: 72px 100px;
  box-sizing: border-box;
}
.footer .footer_left {
  float: left;
}
.footer .footer_left h1 {
  font-size: 20px;
  font-weight: bold;
}
.footer .footer_left strong {
  display: inline-block;
  color: #fd8234;
  font-size: 30px;
  font-weight: bold;
  margin: 16px 0;
}
.footer .footer_left p {
  font-size: 18px;
}
.footer .footer_left .footer_logo {
  width: 116px;
  height: 135px;
  margin-top: 175px;
}
.footer .footer_left .footer_logo img {
  width: 100%;
}
.footer .footer_left .copyright {
  margin-top: 25px;
  font-size: 11px;
}
.footer .footer_right {
  float: right;
  margin-bottom: 102px;
}
.footer .footer_right .footer_instagram {
  width: 350px;
  height: 40px;
  margin-bottom: 20px;
}
.footer .footer_right .footer_instagram i {
  display: block;
  font-size: 45px;
  float: right;
}
.footer .footer_right .footer_instagram:hover {
  scale: 1.1;
}
.footer .footer_right .footer_right_middle {
  display: flex;
  width: 350px;
  overflow: hidden;
  margin-bottom: 40px;
}
.footer .footer_right .footer_right_middle div li a {
  color: #f8f8f8;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
}
.footer .footer_right .footer_right_middle div li:first-child {
  margin-bottom: 22px;
}
.footer .footer_right .footer_right_middle div li:first-child a {
  font-size: 16px;
  font-weight: bold;
}
.footer .footer_right .footer_right_middle .footer_info {
  float: left;
  margin-right: 55px;
}
.footer .footer_right .footer_right_middle .footer_support {
  margin-right: 55px;
}
.footer .footer_right .business_info {
  width: 370px;
}
.footer .footer_right .business_info #business_info_btn:checked ~ .business_info_open_btn {
  display: block;
}
.footer .footer_right .business_info #business_info_btn:checked ~ .business_info_close_btn {
  display: none;
}
.footer .footer_right .business_info #business_info_btn:checked ~ .business_info_detail {
  display: none;
}
.footer .footer_right .business_info #business_info_btn ~ .business_info_close_btn {
  display: block;
}
.footer .footer_right .business_info #business_info_btn ~ .business_info_open_btn {
  display: none;
}
.footer .footer_right .business_info #business_info_btn ~ .business_info_detail {
  display: block;
}
.footer .footer_right .business_info input {
  display: none;
}
.footer .footer_right .business_info label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}
.footer .footer_right .business_info label i {
  margin-left: 8px;
}
.footer .footer_right .business_info .business_info_detail {
  width: 350px;
  height: 75px;
  border: 1px solid white;
  padding-left: 8px;
  box-sizing: border-box;
}
.footer .footer_right .business_info .business_info_detail div p {
  font-size: 10px;
  line-height: 17px;
}
.footer .footer_right .business_info .business_info_detail div .bar {
  width: 1px;
  height: 12px;
  background-color: #fff;
  margin: 3px 8px;
  box-sizing: border-box;
}
.footer .footer_right .business_info .business_info_detail .detail_first,
.footer .footer_right .business_info .business_info_detail .detail_third,
.footer .footer_right .business_info .business_info_detail .detail_fourth {
  overflow: hidden;
}
.footer .footer_right .business_info .business_info_detail .detail_first p,
.footer .footer_right .business_info .business_info_detail .detail_third p,
.footer .footer_right .business_info .business_info_detail .detail_fourth p {
  float: left;
}
.footer .footer_right .business_info .business_info_detail .detail_first p a,
.footer .footer_right .business_info .business_info_detail .detail_third p a,
.footer .footer_right .business_info .business_info_detail .detail_fourth p a {
  color: white;
}
.footer .footer_right .business_info .business_info_detail .detail_second {
  margin-bottom: 2px;
}/*# sourceMappingURL=detail.css.map */